:root{
    --color1: cyan;
    --color2: brown;
    --color3: indigo;
    --background: #FFEABA;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--background);
    color: black;
}

.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 360px;
    grid-template-areas: 
    "box_1 box_2"
    "box_3 box_3";
}

.box{
    padding: 4rem;
}

box_1{
    background: var(--color1);
    grid-area: box_1;
}

box_2{
    background: var(--color2);
    grid-area: box_2;
}

box_3{
    background: var(--color3);
    grid-area: box_3;
}
